html, body {
	padding: 0;
	margin: 0;
	overflow: hidden;
	
	/* background: #6e34a4; */
	/* background: rgb(255,75,75); */
	/* background: linear-gradient(90deg, rgba(255,75,75,1) 0%, rgba(200,0,0,1) 31%, rgba(255,0,0,1) 90%);
	background: linear-gradient(90deg, rgba(255,75,75,1) 0%, rgba(200,0,0,1) 31%, rgba(255,0,0,1) 90%); */
	background: rgb(255,75,75);
	background: -webkit-gradient(linear, left top, right top, from(rgba(255,75,75,1)), color-stop(31%, rgba(200,0,0,1)), color-stop(90%, rgba(255,0,0,1)));
	background: -webkit-linear-gradient(left, rgba(255,75,75,1) 0%, rgba(200,0,0,1) 31%, rgba(255,0,0,1) 90%);
	background: -o-linear-gradient(left, rgba(255,75,75,1) 0%, rgba(200,0,0,1) 31%, rgba(255,0,0,1) 90%);
	background: linear-gradient(90deg, rgba(255,75,75,1) 0%, rgba(200,0,0,1) 31%, rgba(255,0,0,1) 90%);
	color: white;
}

html, body, canvas {
	touch-action: none;
	touch-action-delay: none;
}

